<div class="container">
  <mat-card class="card">
    <mat-card-title-group>
      <mat-card-title>CANTIDADES</mat-card-title>
      <mat-card-subtitle>Cantidad actual de registrados de cada entidad</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      CantidadTipoPago: {{countTipoPago}}
    </mat-card-content>
    <br>
    <mat-card-content>
      CantidadTienda: {{countTienda}}
    </mat-card-content>
    <br>
    <mat-card-content>
      CantidadDueño: {{countDuenho}}
    </mat-card-content>
  </mat-card>

</div>
