<mat-toolbar color="primary" class="asd">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
    </button>
    <span>TopStoreFinder</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav class="contenido">
    <mat-nav-list >
      <a mat-list-item routerLink="home">Home</a>
      <a mat-list-item routerLink="tipopago">TipoPago</a>
      <a mat-list-item routerLink="reseniacalificacion">ReseñaCalificacion</a>
      <a mat-list-item routerLink="tipoproducto">TipoProducto</a>
      <a mat-list-item routerLink="compradorubicacion">CompradorUbicacion</a>
      <a mat-list-item routerLink="ubicacion">Ubicacion</a>
      <a mat-list-item routerLink="tiendaproducto">TiendaProducto</a>
      <a mat-list-item routerLink="tienda">Tienda</a>
      <a mat-list-item routerLink="duenho">Dueño</a>
      <a mat-list-item routerLink="comprador">Comprador</a>
      <a mat-list-item routerLink="stock">Stock</a>
      <a mat-list-item routerLink="producto">Producto</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet>
      </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
