<mat-toolbar color="primary">
  <span>TopStoreFinder</span>
  <div class="spacer"></div>

  <a mat-button routerLink="tipopago">TipoPago</a>
  <a mat-button routerLink="reseniacalificacion">ReseñaCalificacion</a>
  <a mat-button routerLink="tipoproducto">TipoProducto</a>
  <a mat-button routerLink="compradorubicacion">CompradorUbicacion</a>
  <a mat-button routerLink="ubicacion">Ubicacion</a>
  <a mat-button routerLink="tiendaproducto">TiendaProducto</a>
  <a mat-button routerLink="tienda">Tienda</a>
  <a mat-button routerLink="duenho">Dueño</a>
  <a mat-button routerLink="comprador">Comprador</a>
  <a mat-button routerLink="stock">Stock</a>
  <a mat-button routerLink="producto">Producto</a>





</mat-toolbar>
