
<div class="container">

  <h1>Ubicacion</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" [(ngModel)]="ubicacion.id">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Latitud</mat-label>
    <input matInput required placeholder="latitud" [(ngModel)]="ubicacion.latitud">

  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Longitud</mat-label>
    <input matInput required placeholder="longitud" [(ngModel)]="ubicacion.longitud">

  </mat-form-field>

  <br>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/ubicacion">Cancelar</button>
  <p>{{mensaje}}</p>

</div>