<p>tienda-creaedita works!</p>
<div class="container">

  <h1>Tienda</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" [(ngModel)]="tienda.id">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput required placeholder="nombre" [(ngModel)]="tienda.nombre">

  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Direccion</mat-label>
    <input type="direccion" matInput required placeholder="direccion" [(ngModel)]="tienda.direccion">

  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Resenha</mat-label>
    <input type="resenha" matInput required placeholder="resenha" [(ngModel)]="tienda.resenha">

  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Calificacion</mat-label>
    <input type="calificacion" matInput required placeholder="calificacion" [(ngModel)]="tienda.calificacion">

  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Id_duenho</mat-label>
    <input type="idduenho" matInput required placeholder="idduenho" [(ngModel)]="tienda.id_duenho">

  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Id_tipo_pago</mat-label>
    <input type="idtipopago" matInput required placeholder="idtipopago" [(ngModel)]="tienda.id_tipo_pago">

  </mat-form-field>


  <br>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/tienda">Cancelar</button>
  <p>{{mensaje}}</p>

</div>
