<p>tienda-creaedita works!</p>
<div class="container">

  <h1>Tienda</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" [(ngModel)]="tienda.id">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput required placeholder="nombre" [(ngModel)]="tienda.nombre">

  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Direccion</mat-label>
    <input type="direccion" matInput required placeholder="direccion" [(ngModel)]="tienda.direccion">

  </mat-form-field>

  <br>



  <mat-form-field appearance="fill">
    <mat-label>Seleccione Dueño</mat-label>
    <mat-select [(value)]="idDuenhoSeleccionado" required>
        <mat-option *ngFor="let p of listaDuenho" [value]="p.id">
            {{p.nombre}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field appearance="fill">
  <mat-label>Seleccione Tipo Pago</mat-label>
  <mat-select [(value)]="idTipoPagoSeleccionado" required>
      <mat-option *ngFor="let p of listaTipoPago" [value]="p.id">
          {{p.tipo}}
      </mat-option>
  </mat-select>
</mat-form-field>

  <br>

  <br>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/tienda">Cancelar</button>
  <p>{{mensaje}}</p>

</div>
