
<body>
    <div class="container">
      <app-comprador-buscar></app-comprador-buscar>
      <table mat-table [dataSource]="datasource" class="table">
  
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
  
  
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef> apellido. </th>
            <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
          </ng-container>
    
    
          <ng-container matColumnDef="ciudad_id">
            <th mat-header-cell *matHeaderCellDef> ciudad_id </th>
            <td mat-cell *matCellDef="let element"> {{element.ciudad_id}} </td>
          </ng-container>
       
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
                  [routerLink]="['edicion', element?.id]">Actualizar</button>
              </td>
            </ng-container>
            <ng-container matColumnDef="accion2">
              <th mat-header-cell *matHeaderCellDef> accion2 </th>
              <td mat-cell *matCellDef="let element">
                  <button mat-raised-button color="warn" (click)="confirmar(element.id)">Eliminar</button>
      
              </td>
            </ng-container>
    
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="example-button-container">
        

        <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
          routerLink="/comprador/nuevo">
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>
    </div>
  </body>
  
