  <div class="container">
    <div style="text-align: center;">
      <h3>LISTAR TIENDA</h3>
    </div>

    <app-tienda-buscar></app-tienda-buscar>

    <mat-form-field>
      <input matInput (keyup)="filtrar($event)" placeholder="Buscar">
  </mat-form-field>


    <table mat-table [dataSource]="datasource" class="table">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>


      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
      <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef> direccion </th>
          <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
        </ng-container>
        <ng-container matColumnDef="id_duenho">
          <th mat-header-cell *matHeaderCellDef> id_duenho </th>
          <td mat-cell *matCellDef="let element"> {{element.id_duenho.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="id_tipo_pago">
          <th mat-header-cell *matHeaderCellDef> id_tipo_pago </th>
          <td mat-cell *matCellDef="let element"> {{element.id_tipo_pago.tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
              [routerLink]="['edicion', element?.id]">Actualizar</button>
          </td>
        </ng-container>

      <ng-container matColumnDef="acciones2">
        <div style="text-align:center;">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="confirmar(element.id)">Eliminar</button>

        </td>
      </div>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="example-button-container">

      <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
        routerLink="/tienda/nuevo">
        <mat-icon>plus_one</mat-icon>
      </button>
    </div>
  </div>

