
<div class="container">

    <h1>Comprador Ubicacion</h1>

    <mat-form-field class="example-full-width">
      <mat-label>Id</mat-label>
      <input matInput placeholder="id" [(ngModel)]="compradorubicacion.id">
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Seleccione Comprador</mat-label>
      <mat-select [(value)]="idCompradorSeleccionado" required>
          <mat-option *ngFor="let p of listaComprador" [value]="p.id">
              {{p.nombre}}
          </mat-option>
      </mat-select>
  </mat-form-field>
  <br>
<mat-form-field appearance="fill">
  <mat-label>Seleccione ubicacion</mat-label>
  <mat-select [(value)]="idUbicacionSeleccionado" required>
      <mat-option *ngFor="let p of listaUbicacion" [value]="p.id">
          {{p.latitud}}
          {{"-"}}
          {{p.longitud}}
      </mat-option>
  </mat-select>
</mat-form-field>


    <br>
    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/compradorubicacion">Cancelar</button>
    <p>{{mensaje}}</p>

  </div>
