<div class="container">

  <h1>reseniacalificacion</h1>

  <mat-form-field class="example-full-width">
    <mat-label>id</mat-label>
    <input matInput placeholder="id" [(ngModel)]="reseniacalifi.id">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>cantestrellas</mat-label>
    <input matInput required placeholder="cantestrellas" [(ngModel)]="reseniacalifi.cantestrellas">

  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>resenia</mat-label>
    <input matInput required placeholder="resenia" [(ngModel)]="reseniacalifi.resenia">

  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Seleccione Cliente</mat-label>
    <mat-select [(value)]="idClienteSeleccionado" required>
        <mat-option *ngFor="let p of listaCliente" [value]="p.id">
            {{p.nombre}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field appearance="fill">
  <mat-label>Seleccione Tienda</mat-label>
  <mat-select [(value)]="idTiendaSeleccionada" required>
      <mat-option *ngFor="let p of listaTienda" [value]="p.id">
          {{p.nombre}}
      </mat-option>
  </mat-select>
</mat-form-field>

  <br>

  <br>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/reseniacalificacion">Cancelar</button>
  <p>{{mensaje}}</p>

</div>
