<p>duenho-creaedita works!</p>
<div class="container">

  <h1>Duenho</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" [(ngModel)]="duenho.id">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput required placeholder="name" [(ngModel)]="duenho.nameduenho">

  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>edad</mat-label>
    <input type="edad" matInput required placeholder="edad" [(ngModel)]="duenho.edadduenho">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>direccion</mat-label>
    <input type="direccion" matInput required placeholder="direccion" [(ngModel)]="duenho.direccionduenho">
  </mat-form-field>

  <br>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/duenhos">Cancelar</button>
  <p>{{mensaje}}</p>

</div>
