<p>tienda-producto-creaedita works!</p>
<div class="container">

  <h1>Tienda Producto</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" [(ngModel)]="tiendaproducto.id">
  </mat-form-field>

  <br>

   <mat-form-field appearance="fill">
    <mat-label>Seleccione la tienda</mat-label>
    <mat-select [(value)]="idTiendaSeleccionado" required>
        <mat-option *ngFor="let p of listaTienda" [value]="p.id">
            {{p.nombre}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field appearance="fill">
  <mat-label>Seleccione el producto</mat-label>
  <mat-select [(value)]="idProductoSeleccionado" required>
      <mat-option *ngFor="let p of listaProducto" [value]="p.id">
          {{p.nombreProducto}}
      </mat-option>
  </mat-select>
</mat-form-field>

  <br>


  <br>

  <br>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/tiendaproducto">Cancelar</button>
  <p>{{mensaje}}</p>

</div>
