<body>
  <div class="container">
    <div style="text-align: center;">
      <h3>LISTAR RESEÑA CALIFICACION</h3>
    </div>
    <app-reseniacalificacion-buscar></app-reseniacalificacion-buscar>
    <table mat-table [dataSource]="dataSource" class="table">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="qEstrellas">
        <th mat-header-cell *matHeaderCellDef> qEstrellas </th>
        <td mat-cell *matCellDef="let element"> {{element.qEstrellas}} </td>
      </ng-container>

      <ng-container matColumnDef="Resenia">
        <th mat-header-cell *matHeaderCellDef> Resenia </th>
        <td mat-cell *matCellDef="let element"> {{element.Resenia}} </td>
      </ng-container>

      <ng-container matColumnDef="Cliente_id">
        <th mat-header-cell *matHeaderCellDef> Cliente_id </th>
        <td mat-cell *matCellDef="let element"> {{element.Cliente_id.nombre}} </td>
      </ng-container>
      <ng-container matColumnDef="Tienda_id">
        <th mat-header-cell *matHeaderCellDef> Tienda_id </th>
        <td mat-cell *matCellDef="let element"> {{element.Tienda_id.nombre}} </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
            [routerLink]="['edicion', element?.id]">Actualizar</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="accion2">
        <th mat-header-cell *matHeaderCellDef> accion2 </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="confirmar(element.id)">Eliminar</button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="example-button-container">

      <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
        routerLink="/reseniacalificacion/nuevo">
        <mat-icon>plus_one</mat-icon>
      </button>
    </div>
  </div>
</body>
