
<body>
  <div class="container">
    <table mat-table [dataSource]="datasource">

      <ng-container matColumnDef="producto_id">
        <th mat-header-cell *matHeaderCellDef> producto_id. </th>
        <td mat-cell *matCellDef="let element"> {{element.producto_id.id}} </td>
      </ng-container>


      <ng-container matColumnDef="tienda_id">
        <th mat-header-cell *matHeaderCellDef> tienda_id </th>
        <td mat-cell *matCellDef="let element"> {{element.tienda_id.id}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</body>
